body {
  margin: 20px;
  // add background image - Plant (in img)
  background-image: url(./img/plant-cover-page.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 60%;
}
.card-content {
  margin-top: auto;
}

.logo-emoji {
  margin: 0 10px;
}

.form-link {
  margin-left: 3px;
}

span.logout {
  cursor: pointer;
}

section.section {
  min-height: calc(100vh - 11.25rem);
}

$footer-background-color: #f5f5f5;
$footer-padding: 2rem 1.5rem;

$box-padding: 1rem;
// @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap")
//     $family-sans-serif: "bebas Neue",
//   sans-serif;

// ! example on how to customize, skip to section "Add your own Bulma styles":
// https://bulma.io/documentation/customize/with-sass-cli/
// ? Import bulma, all customizations should live above this line.
@import "../../node_modules/bulma/bulma.sass";
